node-red/flows.json
[
  {"id":"flow1","type":"tab","label":"Smart Parking System","disabled":false,"info":"Main flow: receives sensor/vehicle/gate data over MQTT from the Python scripts and drives the live dashboard. Also lets the dashboard publish booking/exit commands back over the same broker.","env":[]},

  {"id":"broker1","type":"mqtt-broker","name":"Local Broker (Watson IoT stand-in)","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},

  {"id":"uibase1","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseBackgroundColor":"#ffffff","name":"theme-light"}},"site":{"name":"Smart Parking Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false"}},
  {"id":"uitab1","type":"ui_tab","name":"Smart Parking","icon":"dashboard","order":1},
  {"id":"uigroup_slots","type":"ui_group","name":"Live Slot Status","tab":"uitab1","order":1,"disp":true,"width":"12","collapse":false},
  {"id":"uigroup_counts","type":"ui_group","name":"Counters","tab":"uitab1","order":2,"disp":true,"width":"12","collapse":false},
  {"id":"uigroup_gate","type":"ui_group","name":"Gate Status","tab":"uitab1","order":3,"disp":true,"width":"6","collapse":false},
  {"id":"uigroup_controls","type":"ui_group","name":"Book / Exit a Slot","tab":"uitab1","order":4,"disp":true,"width":"6","collapse":false},

  {"id":"mqttin_sensor","type":"mqtt in","z":"flow1","name":"Sensor Data In","topic":"parking/sensor/data","qos":"2","datatype":"json","broker":"broker1","x":140,"y":80,"wires":[["fn_update_slot"]]},

  {"id":"fn_update_slot","type":"function","z":"flow1","name":"Update Slot Status","func":"// Maintain the live state of every slot in global context (acts as our shared \"DB\" for the running dashboard).\nvar state = global.get('slotsState') || {};\nvar evt = msg.payload;\nif (evt && evt.slotId) {\n    state[evt.slotId] = evt.status;\n    global.set('slotsState', state);\n}\n\n// Output 1: full state object, for the slot-grid template to re-render\nvar gridMsg = { payload: state };\n\n// Output 2: a single log line (string) for the local file-based event log\nvar logMsg = { payload: JSON.stringify(evt) + \"\\n\" };\n\n// Output 3: free / occupied counts for the gauges\nvar total = Object.keys(state).length;\nvar occupied = Object.values(state).filter(function(s){ return s === 'occupied'; }).length;\nvar free = total - occupied;\nvar countMsg = { payload: free };\n\nreturn [gridMsg, logMsg, countMsg];","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":80,"wires":[["tmpl_slot_grid"],["file_log"],["gauge_free"]]},

  {"id":"tmpl_slot_grid","type":"ui_template","z":"flow1","group":"uigroup_slots","name":"Slot Grid","order":1,"width":"12","height":"6","format":"<style>\n  .slot-grid { display:flex; flex-wrap:wrap; gap:10px; }\n  .slot-box { width:70px; height:70px; border-radius:8px; display:flex; align-items:center; justify-content:center;\n              font-weight:bold; color:#fff; font-family:sans-serif; font-size:14px; }\n  .free { background:#2ecc71; }\n  .occupied { background:#e74c3c; }\n</style>\n<div class=\"slot-grid\">\n  <div class=\"slot-box\" ng-repeat=\"(slot, status) in msg.payload\" ng-class=\"{'free': status === 'free', 'occupied': status === 'occupied'}\">\n    {{slot}}<br>{{status === 'occupied' ? 'FULL' : 'FREE'}}\n  </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":640,"y":40,"wires":[[]]},

  {"id":"file_log","type":"file","z":"flow1","name":"Append Slot Log","filename":"../data/slot_events_log.txt","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":650,"y":100,"wires":[[]]},

  {"id":"gauge_free","type":"ui_gauge","z":"flow1","name":"Free Slots Available","group":"uigroup_counts","order":1,"width":"3","height":"3","gtype":"gage","title":"Free Slots","label":"slots","format":"{{value}}","min":0,"max":"6","colors":["#e74c3c","#f1c40f","#2ecc71"],"seg1":"2","seg2":"4","x":650,"y":160,"wires":[]},

  {"id":"mqttin_vehicle","type":"mqtt in","z":"flow1","name":"Vehicle Event In","topic":"parking/vehicle/event","qos":"2","datatype":"json","broker":"broker1","x":150,"y":260,"wires":[["fn_vehicle_counts"]]},

  {"id":"fn_vehicle_counts","type":"function","z":"flow1","name":"Update Vehicle Counters","func":"var totals = global.get('vehicleTotals') || { entries: 0, exits: 0 };\nvar evt = msg.payload;\n\nif (evt && evt.event === 'entry') totals.entries += 1;\nif (evt && evt.event === 'exit') totals.exits += 1;\nglobal.set('vehicleTotals', totals);\n\nvar inside = totals.entries - totals.exits;\nif (inside < 0) inside = 0;\n\nreturn [\n    { payload: totals.entries },\n    { payload: totals.exits },\n    { payload: inside }\n];","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":260,"wires":[["gauge_entries"],["gauge_exits"],["gauge_inside"]]},

  {"id":"gauge_entries","type":"ui_gauge","z":"flow1","name":"Total Entries","group":"uigroup_counts","order":2,"width":"3","height":"3","gtype":"donut","title":"Total Entries","label":"vehicles","format":"{{value}}","min":0,"max":"100","colors":["#0094CE","#0094CE","#0094CE"],"seg1":"","seg2":"","x":660,"y":220,"wires":[]},
  {"id":"gauge_exits","type":"ui_gauge","z":"flow1","name":"Total Exits","group":"uigroup_counts","order":3,"width":"3","height":"3","gtype":"donut","title":"Total Exits","label":"vehicles","format":"{{value}}","min":0,"max":"100","colors":["#999999","#999999","#999999"],"seg1":"","seg2":"","x":650,"y":260,"wires":[]},
  {"id":"gauge_inside","type":"ui_gauge","z":"flow1","name":"Vehicles Inside","group":"uigroup_counts","order":4,"width":"3","height":"3","gtype":"gage","title":"Vehicles Inside","label":"vehicles","format":"{{value}}","min":0,"max":"6","colors":["#2ecc71","#f1c40f","#e74c3c"],"seg1":"2","seg2":"4","x":650,"y":300,"wires":[]},

  {"id":"mqttin_gate","type":"mqtt in","z":"flow1","name":"Gate Status In","topic":"parking/gate/status","qos":"2","datatype":"json","broker":"broker1","x":140,"y":400,"wires":[["fn_gate_format"]]},
  {"id":"fn_gate_format","type":"function","z":"flow1","name":"Format Gate Status","func":"var status = (msg.payload && msg.payload.status) || 'closed';\nreturn { payload: status };","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":400,"wires":[["tmpl_gate","fn_schedule_close"]]},
  {"id":"tmpl_gate","type":"ui_template","z":"flow1","group":"uigroup_gate","name":"Gate Status Display","order":1,"width":"6","height":"3","format":"<style>\n  .gate-badge { padding:14px 20px; border-radius:8px; font-family:sans-serif; font-weight:bold; font-size:18px; color:#fff; text-align:center; }\n  .gate-open { background:#2ecc71; }\n  .gate-closed { background:#7f8c8d; }\n</style>\n<div class=\"gate-badge\" ng-class=\"{'gate-open': msg.payload === 'open', 'gate-closed': msg.payload !== 'open'}\">\n  GATE: {{ (msg.payload || 'closed').toUpperCase() }}\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":650,"y":400,"wires":[[]]},
  {"id":"fn_schedule_close","type":"function","z":"flow1","name":"If Open, Schedule Close","func":"if (msg.payload === 'open') {\n    return { payload: { status: 'closed', timestamp: new Date().toISOString() } };\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":460,"wires":[["gateclose_delay"]]},

  {"id":"dd_book","type":"ui_dropdown","z":"flow1","name":"Book Slot","label":"Park a vehicle in slot:","tooltip":"","group":"uigroup_controls","order":1,"width":"6","height":"1","passthru":true,"multiple":false,"options":[{"label":"S1","value":"S1","type":"str"},{"label":"S2","value":"S2","type":"str"},{"label":"S3","value":"S3","type":"str"},{"label":"S4","value":"S4","type":"str"},{"label":"S5","value":"S5","type":"str"},{"label":"S6","value":"S6","type":"str"}],"payload":"","topic":"book","topicType":"str","className":"","x":150,"y":500,"wires":[["fn_book"]]},

  {"id":"fn_book","type":"function","z":"flow1","name":"Handle Booking Command","func":"var slotId = msg.payload;\nvar state = global.get('slotsState') || {};\nvar ts = new Date().toISOString();\nvar status = state[slotId];\n\nif (status === 'occupied') {\n    return [null, { payload: { type: 'error', title: 'Booking failed', message: slotId + ' is already occupied.' } }];\n}\n\nvar sensorMsg = { topic: 'parking/sensor/data', payload: { slotId: slotId, status: 'occupied', timestamp: ts } };\nvar vehicleMsg = { topic: 'parking/vehicle/event', payload: { event: 'entry', slotId: slotId, timestamp: ts } };\nvar gateMsg = { topic: 'parking/gate/status', payload: { status: 'open', timestamp: ts } };\n\nvar toast = { payload: { type: 'success', title: 'Booked', message: slotId + ' booked successfully. Gate opening.' } };\n\nreturn [[sensorMsg, vehicleMsg, gateMsg], toast];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":500,"wires":[["mqttout_publish"],["toast_notify"]]},

  {"id":"dd_exit","type":"ui_dropdown","z":"flow1","name":"Exit Slot","label":"Remove a vehicle from slot:","tooltip":"","group":"uigroup_controls","order":2,"width":"6","height":"1","passthru":true,"multiple":false,"options":[{"label":"S1","value":"S1","type":"str"},{"label":"S2","value":"S2","type":"str"},{"label":"S3","value":"S3","type":"str"},{"label":"S4","value":"S4","type":"str"},{"label":"S5","value":"S5","type":"str"},{"label":"S6","value":"S6","type":"str"}],"payload":"","topic":"exit","topicType":"str","className":"","x":150,"y":560,"wires":[["fn_exit"]]},

  {"id":"fn_exit","type":"function","z":"flow1","name":"Handle Exit Command","func":"var slotId = msg.payload;\nvar state = global.get('slotsState') || {};\nvar ts = new Date().toISOString();\nvar status = state[slotId];\n\nif (status !== 'occupied') {\n    return [null, { payload: { type: 'error', title: 'Exit failed', message: slotId + ' is not currently occupied.' } }];\n}\n\nvar sensorMsg = { topic: 'parking/sensor/data', payload: { slotId: slotId, status: 'free', timestamp: ts } };\nvar vehicleMsg = { topic: 'parking/vehicle/event', payload: { event: 'exit', slotId: slotId, timestamp: ts } };\nvar gateMsg = { topic: 'parking/gate/status', payload: { status: 'open', timestamp: ts } };\n\nvar toast = { payload: { type: 'success', title: 'Exited', message: slotId + ' freed successfully. Gate opening.' } };\n\nreturn [[sensorMsg, vehicleMsg, gateMsg], toast];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":560,"wires":[["mqttout_publish"],["toast_notify"]]},

  {"id":"mqttout_publish","type":"mqtt out","z":"flow1","name":"Publish to Broker","topic":"","qos":"","retain":"","respondTo":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"broker1","x":650,"y":530,"wires":[]},

  {"id":"toast_notify","type":"ui_toast","z":"flow1","position":"top right","displayTime":"3","highlight":"","sendall":true,"outdir":"out","title":"Smart Parking","name":"Notification Toast","x":660,"y":580,"wires":[[]]},

  {"id":"gateclose_delay","type":"delay","z":"flow1","name":"Auto-close gate","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":460,"wires":[["mqttout_close_gate"]]},
  {"id":"mqttout_close_gate","type":"mqtt out","z":"flow1","name":"Auto Close Gate","topic":"parking/gate/status","qos":"","retain":"","respondTo":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"broker1","x":900,"y":460,"wires":[]}
]
